<section class="about-section">
  <div>
    <h2 class="about-section__title">Sobre Nós</h2>
    <div class="about-section__function1 functions">
      <ng-lottie width="85%" [styles]="styles" [options]="messageOptions">
      </ng-lottie>
      <p class="functions__paragraph">
        Facilitar a comunicação entre clientes, fornecedores e profissionais
        prestadores de serviços em eletromecânica.
      </p>
    </div>
    <div class="about-section__function2 functions">
      <p class="functions__paragraph">
        Simplificar a administração dos processos executados em uma mecânica
      </p>
      <ng-lottie width="85%" [styles]="styles" [options]="dataOptions">
      </ng-lottie>
    </div>
  </div>
</section>
