<footer class="footer">
  <div class="footer__media">
    <img
      class="footer__media--image-logo"
      src="./../../../assets/images/logo-ids.png"
      alt="Logo da empresa IDS branca com fundo transparente"
    />
  </div>
  <div id="vertical-line"></div>
  <span>Em breve...</span>
</footer>
