$gray-color: #262627;
$white-color: #ffffff;

.footer {
  display: flex;
  justify-content: space-evenly;

  height: 50vh;
  padding: 5%;
  background-color: $gray-color;

  span {
    color: $white-color;
  }
}

.footer__media {
  border-right: 2px solid $white-color;
}

.footer__media--image-logo {
  width: 30%;
}
