$background-color: #ff002d;
$button-background: #d9d9d9;

$font-color: #ffffff;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;

  padding: 2% 4%;
  min-height: 65px;
  width: 100%;
  background-color: $background-color;

  @media (min-width: 480px) {
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 0% 4%;
  }
}

.header__left-side {
  display: inline-flex;
  align-items: center;
  gap: 1.1em;
}

.header__left-side h1 {
  font-size: 1.5em;
  font-family: "Inter", sans-serif;
  color: $font-color;
}

.header__logo {
  width: 50px;
}

.header__right-side--anchor {
  background-color: $button-background;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
}

.header__right-side--anchor:hover {
  box-shadow: 2px 2px 4px rgba(29, 28, 28, 0.596);
  transition: all 0.4s;
  transform: scale(1.04, 1.04);
}
