<header class="header">
  <div class="header__left-side">
    <a href="/dashboard">
      <figure>
        <img
          class="header__logo"
          src="./../../../assets/images/logo-ids.png"
          alt="Logo da empresa IDS de cor branca com fundo transparente"
        />
      </figure>
    </a>
    <h1>iDS Mecânica</h1>
  </div>
  <div class="header__right-side">
    <a class="header__right-side--anchor" href="/login">Acessar o Sistema</a>
  </div>
</header>
