<section class="presentation-section">
  <div class="presentation-section__title-group">
    <h2 class="presentation-section__title-group--main-title">iDS Mecânica</h2>
    <button
      class="presentation-section__title-group--btn"
      (click)="showModal()"
    >
      Quem Somos
    </button>
  </div>
  <figure>
    <img
      class="presentation-section__background"
      src="./../../../assets/images/landingpage-bg.jpg"
      alt="Imagem de fundo da página com o motor de um carro e seus componentes"
    />
  </figure>
</section>
