<section class="access-section">
  <div class="access-section__content">
    <h2 class="access-section__content--title">
      Gestão de serviços em eletromecânica para o seu negócio! Com o controle de
      pedidos feitos pelo sistema!
    </h2>
    <a class="access-section__content--anchor" href="/login"
      >Acessar o Sistema</a
    >
  </div>
</section>
