$shadow: rgba(217, 217, 217, 0.22);
$white-color: #ffffff;
$hover-color: #9b9b9b;

.access-section {
  background-color: transparent;
}

.access-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  height: 60vh;
}

.access-section__content {
  border-radius: 10px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 60%;
  padding: 20px;
  margin-inline: auto;

  :where(.access-section__content--title, .access-section__content--anchor) {
    color: $white-color;
  }
}

.access-section__content--anchor {
  background-color: transparent;
  border: 1px solid $white-color;
  border-radius: 5px;
  width: 10em;
  padding: 5px;
  font-size: 1.2em;
  color: $white-color;

  &:hover {
    cursor: pointer;
    color: $hover-color !important;
    border: 1px solid $hover-color;
  }
}
