<section class="feature-section">
  <div class="feature-section__content">
    <h2 class="feature-section__content--title">Vantagens do IDS Mecânica</h2>
    <div class="feature-section__content--title features-list">
      <p-card styleClass="features-list__card">
        <figure>
          <img
            src="./../../../assets/images/car-check.png"
            alt="Ícone de uma prancheta segurando uma folha com uma lista de componentes de um veículo com uma caneta acima dela"
          />
        </figure>
        <p>
          Permite que o usuário possa realizar a gestão do estoque de peças e
          ferramentas por meio da plataforma, listar e gerenciar os fornecedores
          e seus dados para contato.
        </p>
      </p-card>
      <p-card styleClass="features-list__card">
        <figure>
          <img
            src="./../../../assets/images/car-repair.png"
            alt="Ícone com a frente de um carro  com uma marreta ao lado"
          />
        </figure>
        <p>
          Controle dos serviços prestados ao seus clientes guardando as
          informações dos seus veículos e sobre o dia em que foi prestado!
        </p>
      </p-card>
      <p-card styleClass="features-list__card">
        <figure>
          <img
            src="./../../../assets/images/shield.png"
            alt="Ícone de um escudo verde com um cadeado no meio"
          />
        </figure>
        <p>
          Segurança e confiança com seus dados. Integração com serviços web para
          facilitar a comunicação com seus clientes e fornecedores
        </p>
      </p-card>
    </div>
  </div>
</section>
