$background: #ffffff;
$gray-color: #9b9b9b;

.feature-section {
  background-color: $background;
  text-align: center;
  padding-top: 3em;
  min-height: 100vh;
}

.feature-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;

  width: 80vw;
  margin-inline: auto;
}

:host ::ng-deep {
  .features-list__card.p-card {
    margin-inline: auto;
    min-width: 65%;
    height: 165px;

    .p-card-body {
      margin-bottom: 2em;
      padding: 0 2% !important;
      box-shadow: 2px 2px 5px #00000071;
      border-radius: 5px;
      // border: 1px solid $gray-color;
    }

    .p-card-content.p-card-content {
      display: flex;
      align-items: center;

      figure {
        border-right: 1px solid $gray-color;
        padding: 0 2%;
        height: 100%;
      }

      figure img {
        width: 90px;
      }

      p {
        margin-left: 1.2em;
      }
    }

    &:hover {
      transform: scale(1.03, 1.03);
      transition: all 0.4s;
    }
  }
}
