.Login {
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #ffffff;
}
.mecanica-1 {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;

  box-shadow: inset 888px 1131px 4px rgba(2, 6, 89, 0.8);
}

.mecanica-1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: url("./../../../assets/images/mecanica.png");
}

.Group-170 {
  position: absolute;
  width: 680px;
  height: 805px;
  left: 720px;
  top: 110px;
}

Rectangle-12 {
  position: absolute;
  width: 680px;
  height: 805px;
  left: 720px;
  top: 110px;

  background: #262627;
  box-shadow: 20px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.Input-group {
  position: absolute;
  width: 453.92px;
  height: 49.49px;
  left: 802px;
  top: 463px;
}

.FundoEmail {
  position: absolute;
  width: 453.92px;
  height: 49.49px;
  left: 802px;
  top: 463px;

  background: #1f1f21;
  border-radius: 4px;
}

.Group-2 {
  position: absolute;
  width: 456.92px;
  height: 564.96px;
  left: 802px;
  top: 195px;
}

.Input-group {
  position: absolute;
  width: 453.92px;
  height: 49.49px;
  left: 802px;
  top: 386.85px;
}

.FundoEmail {
  position: absolute;
  width: 453.92px;
  height: 49.49px;
  left: 802px;
  top: 386.85px;

  background: #1f1f21;
  border-radius: 4px;
}

.Logo_IDS_Banca_500x500 {
  position: absolute;
  width: 135px;
  height: 105px;
  left: 963px;
  top: 195px;
}

.Logo_IDS_Banca_500x500 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: url("./../../../assets/images/logo-ids.png");
}

.Line1 {
  position: absolute;
  width: 453.93px;
  height: 0px;
  left: 802px;
  top: 565px;

  border: 1px solid #000000;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.btn-to-register {
  position: absolute;
  width: 453.92px;
  height: 58.63px;
  left: 805px;
  top: 701.33px;
}

.Rectangle14 {
  position: absolute;
  width: 453.92px;
  height: 58.63px;
  left: 805px;
  top: 701.33px;

  background: #ff002d;
}

.Cadastrar {
  position: absolute;
  width: 111px;
  height: 21.75px;
  left: 976px;
  top: 719.73px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;

  text-align: center;

  color: #ffffff;
}

.btn-login {
  position: absolute;
  width: 453.92px;
  height: 58.63px;
  left: 804px;
  top: 626.05px;
}

.Rectangle14 {
  position: absolute;
  width: 453.92px;
  height: 58.63px;
  left: 804px;
  top: 626.05px;

  background: #ff002d;
}

Login {
  position: absolute;
  width: 64px;
  height: 21.75px;
  left: 998px;
  top: 644.45px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;

  text-align: center;

  color: #ffffff;
}

.esqueceu-a-senha {
  position: absolute;
  width: 243px;
  height: 28px;
  left: 787px;
  top: 805px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  text-align: center;

  color: #ffffff;
}

.Email {
  position: absolute;
  width: 53px;
  height: 24px;
  left: 828px;
  top: 400px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.Senha {
  position: absolute;
  width: 62px;
  height: 24px;
  left: 828px;
  top: 469px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
